.page {
    max-width: 960px;
    margin: 0 auto;
}

.bbox img {
    max-width: 100%;
    position: relative;
}

.bbox {
    max-width: 100%;
    position: relative;
}

.bboxtwo {
    position: absolute;
    top: 30%;
    left: 8%;
    background: #EEF0F2;
    font-size: 20px;
    font-family: 'Bubblegum Sans', monospace, cursive;
    color: #3E606F;
    box-sizing: content-box;
    border: solid #34453C 10px;
    padding: 30px;
    opacity: .8;
    box-shadow: 2px 2px 5px #3E606F;
    color: #3E606F;
}

body {
    background-color: #7C9186
;
    font-family: 'Karla', sans-serif, Arial;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    padding: 0;
  }

.imgbox img {
    box-shadow: 3px 4px 5px #3E606F;
}

.imgbox {
    padding: 20px;
    grid-column: 2/2;
}

.imgboxtwo img {
    box-shadow: 3px 4px 5px #3E606F;
}

.imgboxtwo {
    padding: 10px;
    width: 450px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.imgboxthree {
    padding: 20px;
    grid-column: 2/2;
    grid-row: 2/2;
}

.imgboxthree img {
    box-shadow: 3px 4px 5px #3E606F;
}

.imgboxtfour {
    padding: 20px;
    grid-column: 2/2;
    grid-row: 2/2;
}

.imgboxfour img {
    box-shadow: 3px 4px 5px #3E606F;
}

h1, h2, h3 {
    box-shadow: 2px 2px 5px #3E606F;
    color: #3E606F;
    background: #EEF0F2;
    font-family: 'Bubblegum Sans', monospace, cursive;
    text-align: center;
    font-size: 34px;
    box-sizing: content-box;
    border: solid #34453C 10px;
    padding: 30px;
}

h4 {
    color: #34453C;
    font-family: 'Bubblegum Sans', monospace, cursive;
    font-size: 20px;
    padding: 0px;
}

.nav a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-size: 16px;
}

.nav li{
    flex: 1 1 100%;
}

a{
    color: #D1DBBD;
}

.para {
    color: #EEF0F2;
    width: 380px;
    margin: 20px;
    text-align: justify;
    padding: 20px;
}

.paratwo {
    color: #EEF0F2;
    width: 380px;
    margin: 20px;
    text-align: justify;
    padding: 20px;
}

.content {
    width: 480px;
    grid-column: 1/2;
}

.faqcontent {
    max-width: 480px;
    height: 700px;
    overflow: scroll;
    grid-column: 1/2;
}

.contenttwo {
    width: 480px;
    grid-column: 2/3;
}

.statement {
    color: #FCFFF5;
    text-align: justify;
    padding: 20px;
}
header {
    background-color: #193441;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.information-box {
    display: grid;
    
}

.information-boxtwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 365px 365px;
    justify-items: center;
    
}

ul {
    list-style: none;
    display: flex;
}

footer {
    background-color: #193441;
    color: #D1DBBD;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: end;
    padding: 10px;
}
.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icons img {
    padding: 20px;
}

.text-content {
    justify-self: left;
}