.page {
    max-width: 960px;
    margin: 0 auto;
}

.bbox img {
    width: 960px;
}

body {
    background-color: #78C5D7;
    font-family: 'Karla', sans-serif, Arial;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    padding: 0;
  }

.imgbox img {
    box-shadow: 3px 4px 5px #134266;
}

h1 {
    color: #134266;
    font-family: 'Bubblegum Sans', monospace, cursive;
    font-size: 64px;
}

h2 {
    color: #134266;
    font-family: 'Bubblegum Sans', monospace, cursive;
    text-align: center;
    font-size: 34px;
}

a{
    color: #FF745C;
    display: grid;
}
.para {
    color: #EEF0F2;
    width: 480px;
    text-align: justify;
}

.statement {
    color: #EEF0F2;
    width: 700px;
    text-align: justify;
    margin: auto;
    padding: 10px;
}
header {
    background-color: #134266;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.onelink {
    grid-column: 1;
}

.twolink {
    grid-column: 2;
}

.threelink {
    grid-column: 3;
}

ul {
    list-style: none;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

footer {
    background-color: #134266;
    color: #FDE587;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: end;
}
.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text-content {
    justify-self: left;
}